.wrapper {
  width: 80%;
  display: block;
  margin: 15rem auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 2rem;
  position: relative;
}

.title {
  font-size: 3.5rem;
  letter-spacing: 1px;
}

.header {
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.user__list {
  margin-top: 5rem;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 20px;
}

/* .user__item {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
} */

.user__item td {
  text-align: center;
  font-size: 1.5rem;
  padding: 0 1rem;
}

.user-fullname,
.user-role {
  font-size: 1.8rem !important;
}

.user-avatar {
  width: 15%;
  text-align: center;
}

.user-avatar img {
  object-fit: contain;
  object-position: center;
  width: 10rem;
  height: 10rem;
}

.user-action {
  width: 20%;
}

.user-action span {
  padding: 1rem 2rem;
  border-radius: 3px;
  font-size: 1.7rem;
  transition: all 0.2s linear;
  opacity: 0.8;
  cursor: pointer;
  display: inline-block;
}

.user-action span i{
    margin-right: 1rem;
}

.user-action span:hover {
  opacity: 1;
  transform: scale(1.1);
}

.btn-edit {
  background-color: rgb(224, 212, 102);
}

.btn-remove {
  background-color: red;
  color: white;
}

.modal {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-modal {
  width: 50rem;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 2rem;
  position: relative;
}

.fa-xmark {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 2rem;
  cursor: pointer;
}

.edit-modal > h2 {
  font-size: 3rem;
}

.modal-avatar {
  height: 20rem;
  width: 20rem;
  margin: 2rem 0;
  object-fit: contain;
  object-position: center;
}

.modal-name {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.modal-name span{
    display: inline-block;
    text-align: left;
    min-width: 10rem;
}

.edit-modal select,
.edit-modal input{
  padding: 1rem;
  font-size: 1.7rem;
  width: 30rem;
}

.btn-save {
  display: block;
  margin: 2rem auto;
  padding: 1rem 3rem;
  border: none;
  background-color: rgb(46, 190, 89);
  border-radius: 5px;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.2s linear;
  opacity: 0.8;
}

.btn-save.disable {
  cursor: initial;
  background-color: #dadada;
}

.btn-save.disable:hover {
  transform: scale(1);
  opacity: 0.8;
}

.btn-save:hover {
  transform: scale(1.1);
  opacity: 1;
}

.btn-add{
    position: absolute;
    top: 3rem;
    right: 2rem;
    background-color: rgb(28, 106, 170);
    color: white;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    opacity: .8;
    transition: all .2s linear;
}

.btn-add:hover{
    opacity: 1;
    transform: scale(1.1);
}

.hide{
    display: none !important;
}

.filter{
  margin: 20px 0;
}

.filter span{
  font-size: 1.3rem;
  text-align: left;
  min-width: 150px;
  display: inline-block;
}

.filter div + div{
  margin-top: 1rem;
}

.filter input,
.filter select{
  width: 15rem;
  padding: .5rem 1rem;
  font-size: 1.3rem;
}

.filter button{
  padding: .5rem 1rem;
  border: navajowhite;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 1rem;
  transition: all .2s linear;
}

.filter button:hover{
  transform: scale(1.1);
  background-color: #adadad;
}

/* mobile */
@media screen and (max-width: 500px) {
  .wrapper {
    box-shadow: none;
    width: 100%;
  }

  .title {
    text-align: center;
  }

  .user-action span {
    padding: 0.8rem 1rem;
  }

  .user-action span + span {
    margin-top: 1rem;
    margin-left: 0;
  }
}

/* tablet*/
@media screen and (min-width: 500.1px) {
  .user-action span {
    padding: 0.8rem 1rem;
  }

  .user-action span + span {
    margin-top: 1rem;
    margin-left: 0;
  }
}

/* desktop*/
@media screen and (min-width: 769px) {
  .user-action span + span {
    margin-left: 1.5rem;
  }
}
